<%= render :partial => 'submenu' %>
<div class="form">
	<%= form_for(@menu,:url => (@menu.id ? cpanel_menu_url(@menu) : cpanel_menus_url)) do |f| %>
  <%= render "shared/error_messages", :target => @page %>
	<table border="0" cellspacing="0" cellpadding="0">
		<tr class="row">
			<td class="field">名称</td>
			<td><%= f.text_field :name, :class => "text short" %></td>
		</tr>
		<tr class="row">
			<td class="field">URL</td>
			<td><%= f.text_field :url, :class => "text long" %></td>
		</tr>
		<tr class="row">
			<td class="field">排序</td>
			<td><%= f.text_field :sort, :class => "text short" %> <span class="tip">大的在前</span></td>
		</tr>
		<tr class="row">
			<td class="field"></td>
			<td><%= f.check_box :new_window %> <%= f.label :new_window, "以新窗口打开" %></td>
		</tr>
		<tr class="buttons row">
			<td class="field"></td>
			<td><%= f.submit (@menu.id ? "保存" : "创建")%> 或 <%= link_to '返回', :action => "index" %></td>
		</tr>
	</table>
	<% end %>
</div>
