<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title><%= raw (@page_title ? @page_title : @setting.site_name) %></title>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" /> 
	<meta name="HandheldFriendly" content="True" />
	<meta name="description" content="<%= @meta_description %>" />
	<meta name="keywords" content="<%= @meta_keywords %>" />
  <link rel="shortcut icon" href="/favicon.ico?v=001" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text&subset=latin' rel='stylesheet' type='text/css'>
	<%= theme_stylesheet_link_tag "application" %>
	<%= yield :styles -%>
	<%= auto_discovery_link_tag(:rss,(FEED_URL || rss_blogs_url),:title => '定阅最新博客') %>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
  <%= javascript_include_tag "rails","common", :cache => "cached_application" %>
</head>
<body>
<div id="body">
	<div id="header">		
    <div class="menu">
      <span><a href="/"<%= " class='actived'" if @nav_actived == "home" %> title="首页">首页</a></span>
      <% if !@menus.blank? %>
        <% for item in @menus %>
        <span><a href="<%= item.url %>"<%= " class='actived'" if @nav_actived == item.url.gsub('/','') %> title="<%= item.name %>"<%= ' target="_blank"' if item.new_window %>><%= item.name %></a></span>
        <% end -%>
      <% end -%>
    </div>
    <div class="title"><a id="site_name" href="/"><%= @setting.site_name %></a></div>

	</div>  
	<div id="main">
    <div id="sidebar">      
      <div class="section">
        <h2>订阅我的博客</h2>
        <div class="icons"><a href="<%= (FEED_URL || rss_blogs_url) %>"><%= theme_image_tag("feed-big.png") %></a></div>
      </div>
      <div class="section">
        <%= raw @setting.home_show %>
      </div>     
    </div>    
		<%= yield %>      
	</div>
	<div id="footer">
		<% if !FOOTER_HTML.blank? %>
		<p>
			<%=raw FOOTER_HTML %>
		</p>
		<% end %>
    <p class="copyright">
      Powered by opensource project <a href="http://github.com/huacnlee/personlab" target="_blank">PersonLab</a> running on <a href="http://api.heroku.com/invitation/accept/5d4c3ac8a5" target="_blank">Heroku</a> + <a href="http://www.rubyonrails.org" target="_blank">Rails3</a>, Theme by <a href="http://bret.appspot.com/" target="_blank">Bret Taylor</a>.<br />
    Version: <%= APP_VERSION %>
    </p>		
	</div>
</div>
<%= yield :scripts %>
<% if !GOOGLE_ANALYTICS_ID.blank? %>
<script type='text/javascript'>var _gaq = _gaq || []; _gaq.push(['_setAccount', '<%= GOOGLE_ANALYTICS_ID %>']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script>
<% end %>
</body>
</html>
