<h1>Listing shares</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Summary</th>
    <th>From</th>
    <th>Cover</th>
    <th>Url</th>
  </tr>

<% @shares.each do |share| %>
  <tr>
    <td><%=h share.title %></td>
    <td><%=h share.summary %></td>
    <td><%=h share.from %></td>
    <td><%=h share.cover %></td>
    <td><%=h share.url %></td>
    <td><%= link_to 'Show', share %></td>
    <td><%= link_to 'Edit', edit_share_path(share) %></td>
    <td><%= link_to 'Destroy', share, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New share', new_share_path %>