<% content_for :styles do %> 
<%= stylesheet_link_tag "src/cpanel/posts", :cache => "cpanel/posts" %>
<% end %>
<% content_for :scripts do %> 
<%= javascript_include_tag "src/cpanel/posts", :cache => "cpanel/posts" %>
<script type="text/javascript">
	CpanelPosts.init({
		bodyId : "post_body"
	});
</script>
<% end %>
<%= render :partial => 'submenu' %>
<h2><%= @post.id ? "修改文章" : "创建文章"  %></h2>
<div class="form">

<% form_for @post, :url => (@post.id ? cpanel_post_url(@post.id) : cpanel_posts_url) do |f| %>
  <%= f.error_messages %>
	<table border="0" cellspacing="0" cellpadding="0">
		<tr class="row">
			<td class="field"><%= f.label :title %></td>
			<td><%= f.text_field :title, :class => "text long" %></td>
		</tr>
		<tr class="row">
			<td class="field"><%= f.label :slug %></td>
			<td><%= f.text_field :slug, :class => "text" %></td>
		</tr>
		<tr class="row">
			<td class="field" valign="top"><%= f.label :body %></td>
			<td>
				<%= f.text_area :body, :class => "text body", :rows => "40" %>
			</td>
		</tr>
		<tr class="row">
			<td class="field"><%= f.label :meta_keywords, "Meta Keywords" %></td>
			<td><%= f.text_field :meta_keywords, :class => "text long" %></td>
		</tr>
		<tr class="row">
			<td class="field" valign="top"><%= f.label :meta_description, "Meta Description" %></td>
			<td><%= f.text_area :meta_description, :class => "text middle", :rows => "3" %></td>
		</tr>
		<tr class="row">
			<td class="field"><%= f.label :status %></td>
			<td>
				<%= select("post","status",Post::STATUS,{:selected => @post.status}) %>
			</td>
		</tr>
		<tr class="buttons row">
			<td class="field"></td>
			<td><%= f.submit( (@post.id ? "保存" : '发布'), :class => "button submit") %> or <%= link_to "Back", :action => "index" %></td>
		</tr>
	</table>
<% end %>
</div>
