<ul class="archive">
<% cache("home/index/recent_posts") do %>
<% if !@recent_posts.blank?%>
  <% for item in @recent_posts %>
    <li>
      <a href="<%= blog_path(item.slug) %>" title="<%= item.title %>"><%= truncate(item.title, :length => 30) %></a> 
      <span class="date"><%= item.created_at.to_date %></span>
    </li>
  <% end %>
<% end %>
<% end %>
</ul>

 <div id="tweet" class="section">
  <h2>Twitter<a href="/twitter">more</a></h2>
  <%= render "shared/tweets", :items => @tweets %>
</div>