<%= render :partial => 'submenu' %>
<div class="form">
	<%= form_for(@setting,:url => '', :method => :post) do |f| %>
	<%= success_messages %>
  <%= render "shared/error_messages", :target => @setting %>
	<table border="0" cellspacing="0" cellpadding="0">
		<tr class="row">
			<td class="field">站点名称</td>
			<td><%= f.text_field :site_name, :class => "text middle"  %></td>
		</tr>
		<tr class="row">
			<td class="field">子标题</td>
			<td><%= f.text_field :sub_title, :class => "text long"  %></td>
		</tr>
		<tr class="row">
			<td class="field">Email</td>
			<td><%= f.text_field :email, :class => "text middle"  %></td>
		</tr>
		<tr class="row">
			<td class="field">Disqus Short Name</td>
			<td><%= f.text_field :disqus_shortname, :class => "text short" %></td>
		</tr>
		<tr class="row">
			<td class="field">Twitter ID</td>
			<td><%= f.text_field :twitter_id, :class => "text middle"  %></td>
		</tr>
		<tr class="row">
			<td class="field">Google Reader</td>
			<td>http://www.google.com/reader/shared/<%= f.text_field :google_reader_id, :class => "text short" %></td>
		</tr>
		<tr class="row">
			<td class="field">Google Analytics Id</td>
			<td><%= f.text_field :google_analytics_id, :class => "text short" %></td>
		</tr>
		<tr class="row">
			<td class="field">Meta Keywords</td>
			<td><%= f.text_field :meta_keywords, :class => "text long"  %></td>
		</tr>
		<tr class="row">
			<td class="field">Meta Description</td>
			<td>
				<%= f.text_area :meta_description, :class => "text middle"  %>
			</td>
		</tr>
		<tr class="row">
			<td class="field">首页个人信息</td>
			<td>
				<%= f.text_area :home_show, :class => "text long"  %>
			</td>
		</tr>
		<tr class="row">
			<td class="field">Footer HTML</td>
			<td><%= f.text_area :footer_html, :class => "text long" %></td>
		</tr>
		<tr class="row buttons">
			<td class="field"></td>
			<td><%= f.submit '保存', :class => "submit" %></td>
		</tr>
	</table>
<% end %>
</div>
