<% content_for :styles do %>
<%= stylesheet_link_tag "src/cpanel/settings", :cache => "cpanel/settings" %>
<% end %>
<%= render :partial => 'submenu' %>
<div class="form">
  <% form_for(@current_user,:url => "") do |f| %>
    <%= success_messages %>
	<%= f.error_messages %>
    <table border="0" cellspacing="0" cellpadding="0">
		<tr class="row">
          <td class="field">旧密码</td>
          <td><%= password_field_tag :old_pwd, params[:old_pwd], :class => "text middle" %></td>
        </tr>
        <tr class="row">
          <td class="field">新密码</td>
          <td><%= password_field_tag :new_pwd, params[:new_pwd], :class => "text middle" %></td>
        </tr>
        <tr class="row">
          <td class="field">确认新密码</td>
          <td><%= password_field_tag :confirm_pwd, params[:confirm_pwd], :class => "text middle" %></td>
        </tr>
        <tr class="row">
          <td class="field"></td>
          <td><%= f.submit("修改密码")  %> </td>
        </tr>
     </table>
  <% end %>
</div>