<% content_for :styles do %> 
<%= stylesheet_link_tag "src/cpanel/comments", :cache => "cpanel/comments" %>
<% end %>
<%= success_messages %>
<div id="comments">
	<% @comments.each do |comment| %>
	<div class="row">
		<div class="info">
			#<%= comment.id %> <span class="author"><a href="<%=h comment.url %>"><%=h comment.author %></a></span> <span class="email">&lt;<%=h comment.email %>&gt;</span> 在 <span class="date"><%= comment.created_at_s %></span> 评论说:
			<span class="opts"><%= link_to '删除', cpanel_comment_url(comment), :confirm => '确定要删除吗?', :method => :delete %></span>
		</div>
		<div class="body">
			<%= comment.body %>
		</div>
	</div>
	<% end %>
</div>
<%= will_paginate @comments %>


