<div id="content">
  <div class="entry">
		<h1>
      <a href="<%= blog_path(@post.slug) %>" rel="nofollow"><%= h(@post.title) %></a>
		</h1>
		<div class="date">
			<%= link_to (@post.category.name), category_blogs_path(@post.category.slug) %>
      <%= l @post.created_at, :format => :long %>
    </div>    
		<div class="body">
			<%= raw @post.body %>
    </div>    
    <div class="footer">      
			<span class="view_count"><%= @post.view_count + @view_count %>次阅读</span>, 
			<span class="comment_count"><a href="#comments"><%= @post.comment_count %>条评论</a></span>			
      <% if !@post.tags.blank? %>
      <label>Tags:</label>
			<% for tag in @post.tags %>
  <a href="<%= blogs_path(:tag => tag.name) %>" class="rbox"><%= tag.name %></a>
			<% end %>
      <% end %>
		</div>
	</div>
  
  <div id="comments">
    <h2>网友评论</h2>
    <div class="list">
      <%= cache("posts/show/#{params[:id]}/comments") do %>
      <% if !@comments.blank? %>
        <% for item in @comments %>
        <div class="item<%= cycle('',' itemse') %>">
          <div class="info">
            <% if !item.url.blank? %>
            <a href="<%= item.url.match("http[s]{0,1}://") == nil ? "http://#{item.url}" : item.url %>" rel="nofollow" target="_blank"><%= h(item.author) %></a>
            <% else %>
            <%= h(item.author) %>
            <% end -%>
            在 <%= l item.created_at, :format => :long %> 说:
          </div>
          <div class="content">
            <div class="face">
              <%= image_tag(face_url(item.email), :alt => item.author) %>
            </div>
            <%= simple_format(auto_link(h(item.body))) %>
          </div>
        </div>
        <% end %>
      <% else %>
        <div class="item none_result">还未有人对此文发表过评论.</div>
      <% end %>
      <% end %>
    </div>
  </div>
  <div id="comment">
		<h2>发表评论</h2>
		<div class="form">
    <%= form_for @comment, :url => comment_blog_path(@post.slug,:anchor => :comment) do |f| -%>
      <%= render "shared/error_messages", :target => @comment %>
			<%= success_messages %>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr class="row">
					<td class="field">名字:</td>
					<td><%= f.text_field :author, :class => "text short" %></td>
				</tr>
				<tr class="row">
					<td class="field">博客:</td>
					<td><%= f.text_field :url, :class => "text" %></td>
				</tr>
				<tr class="row">
					<td class="field">Email:</td>
					<td><%= f.text_field :email, :class => "text" %></td>
				</tr>
				<tr class="row">
					<td class="field" valign="top">评论内容:</td>
					<td>
						<%= f.text_area :body, :class => "text middle", :style => "height:100px" %>
					</td>
				</tr>
				<% if !captcha_skip? %>
				<tr class="row">
					<td class="field" valign="top">验证码:</td>
					<td>
						<%= captcha_hidden_text %>
						<%= captcha_input_text("",:class => "text", :style => "margin-bottom:4px;") %> <br />
					 	<%= captcha_image %>
					</td>
				</tr>
				<% end %>
				<tr class="buttons row">
					<td class="field"></td>
					<td>
						<%= f.submit "发表评论", :disable_with => '正在提交...', :class => "button submit" %>
					</td>
				</tr>
			</table>
			<% end -%>
		</div>
	</div>
</div>