<% cache(@cache_key) do %>
<% if !@posts.blank? %>
  <% for item in @posts %>
    <div id="item<%= item.id %>" class="post_item">
      <div class="post_title">
        <%= link_to item.title, :controller => "posts", :action => "show", :slug => item.slug %>
      </div>
      <div class="post_info">
        分类：<span class="category">[<%= link_to (item.category.name), :controller => "posts", :action => "index", :category => item.category.slug %>]</span>
        时间：<span class="date"><%= item.created_at_s %></span>
        <span class="view_count"><%= item.view_count + item.delay_view_count %>
    次阅读</span>
        <span class="comment_count">
                  <%= link_to h("#{item.comment_count}条评论"), :controller => "posts", :action => "show", :slug => item.slug,:anchor => "comment" %>
                </span>
      </div>
      <div class="post_body">
        <%= raw item.summary %>				
      </div>			
    </div>		
  <% end %>	
  <%= will_paginate @posts %>
<% else %>
  <div class="none_result">
    作者还未发表过文章.
  </div>
<% end %>
<% end %>
