<div id="sidebar">
	<div id="feed" class="box">
		<div class="title">Feed订阅</div>
		<div class="content">
			<%= @setting.blog_feed_html %>
		</div>
	</div>
	
	<div id="category" class="box">
		<div class="title">分类标签</div>
		<div class="content">
			<ul>
				<% if !@tags.blank? %>
				  <% for item in @tags %>
				    <li><%= link_to h(item.name), :controller => "posts", :action => "index", :tag => item.name %>(<%= item.posts_count %>)</li>
				  <% end %>
				<% else %>
				  	<li>暂无</li>
				<% end %>
				
			</ul>
		</div>
	</div>
	
	<div id="host_posts" class="box">
		<div class="title">热门文章</div>
		<div class="content">
			<% cache("posts/sidebar/hot_posts") do %>
			<% if !@hot_posts.blank? %>
				<ul>
			  <% for item in @hot_posts %>
			    <li>
			    	<%= link_to h(item.title), :controller => "posts", :action => "show", :slug => item.slug %>
			    </li>
			  <% end %>
				</ul>
			<% else %>
			  暂时还未有文章发表
			<% end %>
			<% end %>
		</div>
	</div>
	
	<div id="recent_posts" class="box">
		<div class="title">最新文章</div>
		<div class="content">
			<% cache("posts/sidebar/recent_posts") do %>
			<% if !@recent_posts.blank? %>
				<ul>
			  <% for item in @recent_posts %>
			    <li>
			    	<%= link_to h(item.title), :controller => "posts", :action => "show", :slug => item.slug %>
			    </li>
			  <% end %>
				</ul>
			<% else %>
			  暂时还未有文章发表
			<% end %>
			<% end %>
		</div>
	</div>
	
	<div id="recent_comments" class="box">
		<div class="title">最新评论</div>
		<div class="content">
			<% cache("posts/sidebar/recent_comments") do %>
			<% if !@recent_comments.blank? %>
				<ul>
			  <% for item in @recent_comments %>
					<% if item.post != nil %>
			    <li>
						<span class="author">
							<%= link_to h(item.author), :controller => "posts", :action => "show", :slug => item.post.slug %>:
						</span>
		    		<%= item.summary %>
			    </li>
					<% end %>
			  <% end %>
				</ul>
			<% else %>
			  暂时还未有文章发表
			<% end %>
			<% end %>
		</div>
	</div>
</div>