<% content_for :styles do %> 
<%= stylesheet_link_tag "src/posts/base","src/posts/index", :cache => "blog_index" %>
<% end %>
<div id="mainbox">
	<div id="posts">
	<%= render :partial => 'posts' %>
	</div>
</div>
<div id="sidebar">
	<div id="feed" class="box">
		<div class="title">Feed订阅</div>
		<div class="content">
			<%= @setting.blog_feed_html %>
		</div>
	</div>
	
	<div id="category" class="box">
		<div class="title">分类标签</div>
		<div class="content">
			<ul>
				
			</ul>
		</div>
	</div>
	
	<div id="host_posts" class="box">
		<div class="title">热门文章</div>
		<div class="content">
			<% cache("posts/sidebar/hot_posts") do %>
			<% if !@hot_posts.blank? %>
				<ul>
			  <% for item in @hot_posts %>
			    <li>
			    	<%= link_to h(item.title), :controller => "posts", :action => "show", :slug => item.slug %>
			    </li>
			  <% end %>
				</ul>
			<% else %>
			  暂时还未有文章发表
			<% end %>
			<% end %>
		</div>
	</div>
	
	<div id="recent_posts" class="box">
		<div class="title">最新文章</div>
		<div class="content">
			<% cache("posts/sidebar/recent_posts") do %>
			<% if !@recent_posts.blank? %>
				<ul>
			  <% for item in @recent_posts %>
			    <li>
			    	<%= link_to h(item.title), :controller => "posts", :action => "show", :slug => item.slug %>
			    </li>
			  <% end %>
				</ul>
			<% else %>
			  暂时还未有文章发表
			<% end %>
			<% end %>
		</div>
	</div>
	
	<div id="recent_comments" class="box">
		<div class="title">最新评论</div>
		<div class="content">
			<% cache("posts/sidebar/recent_comments") do %>
			<% if !@recent_comments.blank? %>
				<ul>
			  <% for item in @recent_comments %>
			    <li>
						<span class="author">
							<% if item.url.blank? %>
								<%= item.author %>
							<% else %>
								<a href="<%= item.url %>" target="_blank" title="点击查看评论者的网站"><%= item.author %></a>
							<% end %>:
						</span>
			    	<%= link_to h(item.summary), :controller => "posts", :action => "show", :slug => item.post.slug %>
			    </li>
			  <% end %>
				</ul>
			<% else %>
			  暂时还未有文章发表
			<% end %>
			<% end %>
		</div>
	</div>
</div>
