<div id="mainbox">
	<div id="posts">
		<h1>
			<%= h(@post.title) %>
 		</h1>
		<div class="info">
			<span class="rbox category"><%= link_to (@post.category.name), category_blogs_path(@post.category.slug) %></span>
      <span class="date"><%= l @post.created_at, :format => :long %></span>, 
			<span class="view_count"><%= @post.view_count + @view_count %>次阅读</span>, 
			<span class="comment_count"><a href="#comments"><%= @post.comment_count %>条评论</a></span>			
		</div>
		<div class="body">
			<%= raw @post.body %>
		</div>
		<% if !@post.tags.blank? %>
		<div class="rbox tags">
			<label>Tags:</label>
			<% for tag in @post.tags %>
        <a href="<%= blogs_path(:tag => tag.name) %>" class="rbox"><%= tag.name %></a>
			<% end %>
		</div>
		<% end %>
	</div>  
  <%= render "comments" %>
</div>
