<% content_for :styles do %> 
<%= stylesheet_link_tag "src/cpanel/index", :cache => "cpanel/index" %>
<% end %>
<div id="left_side">
  <div class="box quick">
    <h3>快捷链接</h3>
    <ul>
      <li><%= link_to "撰写文章", :controller => "cpanel/posts", :action => "new" %></li>
      <li><%= link_to "创建一个新页面", :controller => "cpanel/pages", :action => "new" %></li>
      <li><%= link_to "管理评论", :controller => "cpanel/comments", :action => "index" %></li>
      <li><%= link_to "修改系统设置", :controller => "cpanel/settings", :action => "index" %></li>
    </ul>
  </div>
  <div class="box statistics">
      <h3>统计信息</h3>
      <ul>
          <li>目前有 <span class="num"><%= @total[:post_count] %></span> 篇博客文章，并收到 <span class="num"><%= @total[:comment_count] %></span> 条网友评论。</li>
          <li>此外还有 <span class="num"><%= @total[:page_count] %></span> 个独立页面</li>
      </ul>
  </div>
</div>
<div id="middle_side">
  <div class="box recent_posts">
    <h3>最近发表的博客</h3>
    <ul>
      <% for item in @recent_posts %>
        <li><%= link_to (h item.title), :controller => "posts", :action => "show", :slug => item.slug %> 发布于 <%= item.created_at_s  %></li>
      <% end %>
    </ul>
  </div>
  <div class="box recent_comments">
    <h3>最近收到的评论</h3>
    <ul>
      <% for item in @recent_comments %>
        <% if item.post %>
        <li><a href="<%= item.url %>"><%=h item.author %></a> 对 <%= link_to (h item.post.title), :controller => "posts", :action => "show", :slug => item.post.slug %> 评论于 <%= item.created_at_s  %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>