<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>PersonLab 管理后台 - 登录</title>
	<%= stylesheet_link_tag "application","cpanel",:cache => "cached_cpanel" %>
</head>
<body style="background:#EEE;">
	<div id="login" class="form">
		<h1>登录管理后台</h1>
		<% form_for @user,:url => "login" do |f| -%>
		<% if flash[:errors] %>
		<div class="errorExplanation">
			<%=h flash[:errors] %>
		</div>
		<% end %>
		<table border="0" cellspacing="0" cellpadding="0">		
			<tr>
				<td class="field">用户名:</td>
				<td><%= f.text_field :uname,:class => 'text' %></td>
			</tr>
			<tr>
				<td class="field">密码:</td>
				<td><%= f.password_field :pwd,:class => 'text' %></td>
			</tr>
			<tr>
				<td class="field"></td>
				<td>
					<%= f.submit "登录", :disable_with => '登录中...', :class => 'button submit' %>
					或 <%= link_to "返回首页", :controller => "/home", :action => "index" %>
				</td>
			</tr>
		</table>
		<% end -%>
</div>
</body>
</html>
