<% content_for :styles do %> 
<%= stylesheet_link_tag "src/cpanel/pages" %>
<% end %>
<%= render :partial => 'submenu' %>
<h2>页面列表</h2>
<%= success_messages %>
<div id="pages">
	<% if !@pages.blank? %>
	<table class="grid" border="0" cellspacing="0" cellpadding="0">
		<tr class="head">
			<td	class="first id">ID</td>
			<td class="status">状态</td>
			<td class="title">标题</td>
			<td class="date">更新时间</td>
			<td class="opt">操作</td>
		</tr>
	  <% for item in @pages %>
	    <tr class="row">
	    	<td class="first id"><%= item.id %></td>
				<td class="status"><%=h item.status == 1 ? "已发布" : "草稿" %></td>
				<td class="title"><%= link_to (truncate(h(item.title), :length => 40)), :controller => "/home", :action => "show", :slug => item.slug %></td>
				<td class="date"><%= item.updated_at.to_s(:short_date) %></td>
				<td class="opt">
					<%= link_to "编辑", edit_cpanel_page_url(item.id) %>
					<%= link_to '删除', cpanel_page_url(item.id),  :confirm => 'Are you sure?', :method => :delete  %>
				</td>
	    </tr>
	  <% end %>
	</table>
	<%= will_paginate @pages %>
	<% else %>
	<div class="none_result">
		还未创建过页面,你可以 <%= link_to "创建", :controller => "pages", :action => "new" %> 一页.
	</div>
	<% end %>
	
</div>