<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title><%= raw (@page_title ? @page_title : @setting.site_name) %></title>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" /> 
	<meta name="HandheldFriendly" content="True" />
	<meta name="description" content="<%= @meta_description %>" />
	<meta name="keywords" content="<%= @meta_keywords %>" />
  <link rel="shortcut icon" href="/favicon.ico?v=001" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <%= csrf_meta_tag %>
	<%= stylesheet_link_tag "application","front",:cache => "cached_front" %>
	<%= yield :styles -%>
	<%= auto_discovery_link_tag(:rss,FEED_URL,:title => '定阅最新博客') %>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
  <%= javascript_include_tag "rails","common", :cache => "cached_application" %>
</head>
<body>
<div id="container">
	<div id="header">		
    <a id="site_name" href="/"><%= @setting.site_name %></a>
    <span class="sub_title"><%= @setting.sub_title %></span>
	</div>
	<div id="nav">
    <a href="/"<%= " class='actived'" if @nav_actived == "home" %> title="首页">首页</a>
    <% if !@menus.blank? %>
      <% for item in @menus %>
        <a href="<%= item.url %>"<%= " class='actived'" if @nav_actived == item.url.gsub('/','') %> title="<%= item.name %>"<%= ' target="_blank"' if item.new_window %>><%= item.name %></a>
      <% end -%>
    <% end -%>
    <div id="nav_search">
      <form action="/blog" method="get">
      <input type="text" name="search" value="" id="search" /> 
      <button type="submit">搜索</button>
      </form>
    </div>
	</div>
	<div id="main">
		<%= yield %>
	</div>
	<div id="footer">
    <p class="copyright">
    Powered by opensource project <a href="http://github.com/huacnlee/personlab" target="_blank">PersonLab</a> running on <a href="http://ruby-lang.org" target="_blank">Ruby1.9</a> + <a href="http://www.rubyonrails.org" target="_blank">Rails3</a>.<br />
    Version: <%= APP_VERSION %>
    </p>
	</div>
</div>
<%= yield :scripts %>
<script type='text/javascript'>var _gaq = _gaq || []; _gaq.push(['_setAccount', '<%= GOOGLE_ANALYTICS_ID %>']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script>
</body>
</html>
